<!--<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">-->
<!--  <h5 class="my-0 mr-md-auto font-weight-normal">Buy Box - Your Vending Machine</h5>-->
<!--</div>-->

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Buy Box</h1>
  <p class="lead">Choose from amazing deals.</p>
</div>

<div class="container text-center">
  <div class="mb-3 mx-3 align-content-md-stretch">
    <h4 class="d-flex justify-content-center align-items-center mb-3">
      <span class="text-muted ">Add Coins</span>
    </h4>
    <ul class="list-group list-group-horizontal justify-content-center">
      <li class="list-group-item">
        <small class="text-muted">Total (EUR) </small>
        <strong>€ {{(total) | number: '1.2-2'}}</strong>
      </li>
      <li class="list-group-item">
        <div>
          <button type="button" class="btn btn-md btn-danger">Cancel</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="mb-3 mx-auto">
    <ul class="list-group list-group-horizontal justify-content-center">
      <li class="list-group-item">
        <div>
          <button type="button" (click)="addTokens('T010')" class="btn btn-md btn-secondary">€ 0.10</button>
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <button type="button" (click)="addTokens('T020')" class="btn btn-md btn-primary">€ 0.20</button>
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <button type="button" (click)="addTokens('T050')" class="btn btn-md btn-success">€ 0.50</button>
        </div>
      </li>
      <li class="list-group-item">
        <div>
          <button type="button" (click)="addTokens('T100')" class="btn btn-md btn-warning">€ 1.00</button>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container text-center">

  <div class="card-deck mb-3">
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Tea</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">€ 1.30-</h1>
        <ul class="list-unstyled mt-3 mb-3">
          <li>Delicious Black</li>
          <li>From London</li>
          <li><img src="assets/images/tea.svg" width="120" height="120" /></li>
        </ul>
        <button type="button" (click)="buyProduct(1)" class="btn btn-lg btn-block btn-outline-primary">Buy Now</button>
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Expresso</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">€ 1.80-</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Fresh grains</li>
          <li>Italian quality</li>
          <li><img src="assets/images/expresso.svg" width="120" height="112" /></li>
        </ul>
        <button type="button" (click)="buyProduct(2)"  class="btn btn-lg btn-block btn-primary">Mega Deal</button>
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Juice</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">€ 1.80-</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Tropical Juice</li>
          <li>From South America</li>
          <li><img src="assets/images/juice.svg" width="120" height="112" /></li>
        </ul>
        <button type="button" (click)="buyProduct(3)"  class="btn btn-lg btn-block btn-warning">Almost gone</button>
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Chicken Soup</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">€ 1.80-</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Delicious receipt</li>
          <li>Home made</li>
          <li><img src="assets/images/soup.svg" width="120" height="112" /></li>
        </ul>
        <button type="button" (click)="buyProduct(4)"  class="btn btn-lg btn-block btn-danger">Super Cheap!</button>
      </div>
    </div>

  </div>
  <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
    <div class="toast" style="position: absolute; top: 0; right: 20; padding-bottom: 20px;" role="alert" aria-live="off" aria-atomic="true" data-delay="3000">
      <div class="toast-header">
        <strong class="mr-auto">Bootstrap</strong>
      </div>
      <div class="toast-body">
        Thanks for your tokens
      </div>
    </div>
  </div>
  <div id="confirm" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want this product?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-success" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
