<div class="container text-center">
  <div class="card-deck mb-3">
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Tea</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">€ 1.30-</h1>
        <ul class="list-unstyled mt-3 mb-3">
          <li>Delicious Black</li>
          <li>From London</li>
          <li><img src="assets/images/tea.svg" width="120" height="120"/></li>
        </ul>
        <button type="button" (click)="buyProduct(1)" class="btn btn-lg btn-block btn-outline-primary">Buy Now</button>
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Expresso</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">€ 1.80-</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Fresh grains</li>
          <li>Italian quality</li>
          <li><img src="assets/images/expresso.svg" width="120" height="112"/></li>
        </ul>
        <button type="button" (click)="buyProduct(2)" class="btn btn-lg btn-block btn-primary">Mega Deal</button>
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Juice</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">€ 1.80-</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Tropical Juice</li>
          <li>From South America</li>
          <li><img src="assets/images/juice.svg" width="120" height="112"/></li>
        </ul>
        <button type="button" (click)="buyProduct(3)" class="btn btn-lg btn-block btn-warning">Almost gone</button>
      </div>
    </div>
    <div class="card mb-3 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Chicken Soup</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">€ 1.80-</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Delicious receipt</li>
          <li>Home made</li>
          <li><img src="assets/images/soup.svg" width="120" height="112"/></li>
        </ul>
        <button type="button" (click)="buyProduct(4)" class="btn btn-lg btn-block btn-danger">Super Cheap!</button>
      </div>
    </div>
  </div>
</div>
