<div class="container text-center">
  <div class="card-deck mb-3">
    <div class="card mb-3 shadow-sm" *ngFor="let m of model">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{m.name}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">€ {{m.price/100}}-</h1>
        <ul class="list-unstyled mt-3 mb-3">
          <li>Delicious Black</li>
          <li>From London</li>
          <li><img src="../../../assets/images/products/{{m.id}}.svg" width="120" height="120"/></li>
          <li>Available: <span class="badge badge-pill">{{m.quantity}}</span>units</li>
        </ul>
        <button type="button" (click)="buyProduct(m.id)" class="btn btn-lg btn-block btn-outline-primary">
          Buy Now
        </button>
      </div>
    </div>
  </div>
</div>
<app-confirmation></app-confirmation>
<app-purchase></app-purchase>
